html{
    scroll-behavior: smooth;
}

.banner{
    background-image: url("FUNDO.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.navbar-light a.navbar-brand{
    color: #FFEBD2;
    font-size: 40px;
}

.navbar-light .navbar-nav .nav-link {
    color: #FFEBD2;
    font-size: 20px;
}

.Paragrafo-img{
    display: grid;
    grid-template-areas: 
    "paragrafo circulo";
    grid-template-columns: 1fr 1.5fr;
}

.paragrafo{
    align-self: center;
    color: #FFEBD2;
    font-size: 20px;
    margin-left: 30px;
}

.circulo{
    background-image: url(ra.jpg);
    background-size:cover;
    width: 500px;
    height: 500px;
    border-radius: 50%;
}


