.d-block{
    width: 100vh;
    height: 100vh;
}
.exper{
    color: #263248;
    padding-top: 40px;
    text-align: center;
}
.experiências{
    height: 100vh;
    background-color: #FFEBD2;
}